.jumbotron {
  background-color: rgb(17, 17, 63);
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  text-align: center;
}
body{
    padding-left: 20px;
    padding-right: 20px;
}
h5{
    color: rgb(17, 17, 63);
}
#weathertron{
    background-color:white ;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(17, 17, 63);
    text-align: left;
    border-style: solid;
  }
