.jumbotron {
  background-color: rgb(17, 17, 63);
  padding-bottom: 0px;
  padding-top: 0px;
  color: white;
  text-align: center;
  opacity: 0.8;
}


h5 {
  color: rgb(17, 17, 63);
}
#weathertron {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(17, 17, 63);
  text-align: center;
}

.low {
  background-color: rgb(70, 109, 12);
  color: white;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.moderate {
  background-color: yellow;
  color: rgb(17, 17, 63);
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.high {
  background-color: orange;
  color: white;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.veryhigh {
  background-color: red;
  color: white;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.extreme {
  background-color: rgb(160, 7, 160);
  color: white;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}
.btnGroup button {
  background-color:rgb(17, 17, 63);
  border: 1px solid white;
  color: white;
  padding: 10px 24px; 
  cursor: pointer; 
  width: 69%; 
  display: block; /* Make the buttons appear below each other */
}

.btnGroup button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroup button:hover {
  background-color: rgb(17, 17, 63);
}

body {  
  margin: 10px;  
  font-size: 100%;  
  font-family: 'Open Sans', sans-serif;  
  color: white;  
  height: 100%;  
  background: linear-gradient(to bottom, #ffd89b 0%, #19547b 100%);  
  background-repeat: no-repeat;  
  background-attachment: fixed; 
 
}

.card-body {
  height: 250px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.space {
height: 218px;
}

.fiveday {
  height: 250px;
  padding-top: 10px;
}
.card{
  color: #19547b;
}
.city h2{
display: inline;
}
#fiveDayForecast{
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
